.text1{
    padding-top: 20px;
    font-size: 35px;
    color: white;
}
.text2{
    font-size: 15px;
    color: blue;
    align:left;
}
#bras{
    height: 160px;
    width: 140px;
    padding-top: 15px;
}


#resp{
    line-height:200px;
    margin: 0 auto;
}
#container2{
    margin-top: 20px;
}

.text-center{
    color:black;
}

/*FOOTER*/
.informacion{
  width: 40%;
  color:red;
  font-size: 20px;
  float: left;
}
.integrantes{
  width: 40%;
  font-size: 18px;
  color: #007bff;
  float: left;
}
.logo{
width: 20%;
float: right;
}


/*MENU*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  /* Galeria */

  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Videos de Youtube */

  .videos {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }